Repository Cmerrill1713/universal-ai-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @universal-ai-tools/core-team, @universal-ai-tools/devops-team, @universal-ai-tools/backend-team, @universal-ai-tools/rust-team, @universal-ai-tools/ios-team, @universal-ai-tools/docs-team, @universal-ai-tools/api-team, @universal-ai-tools/security-team, @universal-ai-tools/database-team

.github/CODEOWNERS:

# CODEOWNERS for Universal AI Tools
# Global rule - all files require review from core team
* @universal-ai-tools/core-team

# Architecture and deployment
/.github/ @universal-ai-tools/devops-team
/docker-compose*.yml @universal-ai-tools/devops-team
/scripts/ @universal-ai-tools/devops-team
/k8s/ @universal-ai-tools/devops-team

# Go services  
/go-api-gateway/ @universal-ai-tools/backend-team
/rust-services/go-websocket/ @universal-ai-tools/backend-team

# Rust services
/rust-services/ @universal-ai-tools/rust-team

# Swift macOS app
/macOS-App/ @universal-ai-tools/ios-team

# Documentation and API specs
/docs/ @universal-ai-tools/docs-team
/docs/openapi.yaml @universal-ai-tools/api-team

# Security and monitoring
/monitoring/ @universal-ai-tools/devops-team @universal-ai-tools/security-team
/distributed-tracing/ @universal-ai-tools/devops-team

# Database migrations and schemas
/migrations/ @universal-ai-tools/database-team
/scripts/*postgres* @universal-ai-tools/database-team
/scripts/*neo4j* @universal-ai-tools/database-team

# CI/CD and automation
/.github/workflows/ @universal-ai-tools/devops-team @universal-ai-tools/core-team

# Production configuration (requires extra security review)
/docker-compose.production.yml @universal-ai-tools/devops-team @universal-ai-tools/security-team
/.github/environments/production.yml @universal-ai-tools/devops-team @universal-ai-tools/security-team
/scripts/production-*.sh @universal-ai-tools/devops-team @universal-ai-tools/security-team

Checkpoint before follow-up message
  src/index.ts
  src/server.ts
Owners: @universal-ai-tools/core-team

Checkpoint before follow-up message
  src/config.ts
  src/utils.ts
Owners: @universal-ai-tools/core-team

Fix: Restore missing main TypeScript server files
  src/index.ts
  src/server.ts
  tsconfig.json
Owners: @universal-ai-tools/core-team

Checkpoint before follow-up message
  nodejs-api-server/src/services/governance-service.ts
Owners: @universal-ai-tools/core-team

feat: Add governance and republic system integration
  GOVERNANCE_INTEGRATION_README.md
  nodejs-api-server/src/routers/governance.ts
  nodejs-api-server/src/server.ts
  nodejs-api-server/src/services/republic-service.ts
  scripts/test-governance-integration.ts
  supabase/migrations/20250127000001_governance_republic_system.sql
Owners: @universal-ai-tools/core-team, @universal-ai-tools/devops-team

feat: Implement Athena central routing system
  ATHENA_ROUTING_README.md
  nodejs-api-server/package.json
  nodejs-api-server/src/routers/sweet-athena.ts
  nodejs-api-server/src/server.ts
  scripts/test-athena-routing-integration.ts
Owners: @universal-ai-tools/core-team, @universal-ai-tools/devops-team

feat: Integrate Athena backend services
  src/index.ts
Owners: @universal-ai-tools/core-team

feat: Add Rust service integration and validation scripts
  .env.example
  nodejs-api-server/package.json
  scripts/integrate-rust-services-with-athena.ts
  scripts/system-health-check.ts
  scripts/validate-athena-system.ts
Owners: @universal-ai-tools/core-team, @universal-ai-tools/devops-team

feat: Integrate MLX and Ollama for AI capabilities
  .env.example
  nodejs-api-server/package.json
  nodejs-api-server/src/routers/chat.ts
  nodejs-api-server/src/services/chat-service.ts
  nodejs-api-server/src/services/mlx-integration.ts
  nodejs-api-server/src/services/neuroforge-integration.ts
  nodejs-api-server/src/services/ollama-integration.ts
  scripts/test-real-ai-integration.ts
Owners: @universal-ai-tools/core-team, @universal-ai-tools/devops-team

feat: Document missing components and implementation status
  MISSING_COMPONENTS_ANALYSIS.md
Owners: @universal-ai-tools/core-team

feat: Add new working server and update dev script
  package.json
  src/working-server.ts
Owners: @universal-ai-tools/core-team

Checkpoint before follow-up message
  nodejs-api-server/package.json
  nodejs-api-server/src/routers/dspy.ts
  nodejs-api-server/src/routers/intelligent-parameters.ts
  nodejs-api-server/src/routers/mlx.ts
  nodejs-api-server/src/server.ts
  nodejs-api-server/src/services/dspy-orchestrator.ts
  nodejs-api-server/src/services/intelligent-parameter-service.ts
  nodejs-api-server/src/services/mlx-fine-tuning-service.ts
  scripts/test-missing-components-integration.ts
Owners: @universal-ai-tools/core-team, @universal-ai-tools/devops-team

feat: Add default model and provider configuration
  .env.example
  nodejs-api-server/src/routers/chat.ts
  nodejs-api-server/src/routers/dspy.ts
  nodejs-api-server/src/routers/intelligent-parameters.ts
  nodejs-api-server/src/routers/mlx.ts
  nodejs-api-server/src/services/chat-service.ts
  nodejs-api-server/src/services/dspy-orchestrator.ts
  nodejs-api-server/src/services/intelligent-parameter-service.ts
  nodejs-api-server/src/services/mlx-fine-tuning-service.ts
  scripts/test-missing-components-integration.ts
Owners: @universal-ai-tools/core-team, @universal-ai-tools/devops-team

Refactor: Update API Gateway port and add core modules
  backups/20250911_213104/docker-compose.go-rust.yml
  docker-compose.go-rust.yml
  docker-compose.yml
  go-services/api-gateway/README.md
  go-services/api-gateway/guardrails.go
  go-services/api-gateway/main.go
  go-services/monitoring-service/main.go
  src/api/api_server.py
  src/api/evolution_approval_routes.py
  src/core/assessment/__init__.py
  src/core/assessment/response_judge.py
  src/core/assessment/response_reviewer.py
  src/core/engines/__init__.py
  src/core/engines/local_model_manager.py
  src/core/logging/__init__.py
  src/core/logging/event_tracker.py
  src/core/unified_orchestration/__init__.py
  src/core/unified_orchestration/unified_chat_orchestrator.py
Owners: @universal-ai-tools/core-team, @universal-ai-tools/devops-team

Checkpoint before follow-up message
  comprehensive_system_test.py
  explore_directions.py
  focused_capability_test.py
  focused_running_services_test.py
  integration_test.py
  orchestration_benchmark.py
  quick_experiment.py
  real_world_experiments.py
  run_real_world_experiments.py
  src/core/config/shared_config.py
  src/core/health/shared_health.py
  vm_coding_agent_demo.py
  vm_coding_agent_integration_test.py
Owners: @universal-ai-tools/core-team

Refactor: Resolve port conflicts and add shared logger
  ARCHITECTURE.md
  GUTLABS_INTEGRATION_COMPLETE.md
  src/core/logging/shared_logger.py
Owners: @universal-ai-tools/core-team

Checkpoint before follow-up message
  src/routers/auth-router.ts
  src/routers/backup-router.ts
  src/routers/context-router.ts
  src/routers/documentation-router.ts
  src/routers/dspy-tools-router.ts
  src/routers/dspy-widgets-router.ts
  src/routers/filesystem-router.ts
  src/routers/health-router.ts
  src/routers/hybrid-inference-router.ts
  src/routers/knowledge-router.ts
  src/routers/mcp-router.ts
  src/routers/memory-router.ts
  src/routers/natural-language-widgets-router.ts
  src/routers/orchestration-router.ts
  src/routers/speech-router.ts
  src/routers/supabase-router.ts
  src/routers/sweet-athena-router.ts
  src/routers/tool-router.ts
  src/routers/widgets-router.ts
Owners: @universal-ai-tools/core-team

feat: Add GitLab integration service
  nodejs-api-server/src/services/gitlab-integration.ts
Owners: @universal-ai-tools/core-team

feat: Add GitLab integration API endpoints
  .env.example
  nodejs-api-server/src/routers/gitlab.ts
  nodejs-api-server/src/server.ts
Owners: @universal-ai-tools/core-team

feat: Implement Athena API Gateway and unify services
  ATHENA_CENTRIC_INTEGRATION_PLAN.md
  ATHENA_CENTRIC_SYSTEM.md
  athena-gateway/Dockerfile
  athena-gateway/main.py
  athena-gateway/requirements.txt
  docker-compose.athena.yml
  launch-neuroforge-native.sh
  neuroforge_native_gui.py
  start-athena-unified.sh
  test-athena-integration.py
Owners: @universal-ai-tools/core-team, @universal-ai-tools/devops-team

feat: Add Athena command capabilities documentation and tests
  ATHENA_COMMAND_VERIFICATION.md
  test-athena-command-capabilities.py
Owners: @universal-ai-tools/core-team

Checkpoint before follow-up message
  demonstrate-athena-capabilities.py
  pids/api-gateway.pid
Owners: @universal-ai-tools/core-team

Refactor: Remove hardcoded API keys and improve security
  ATHENA_NEXT_LEVEL_COMPLETE.md
  FINAL_ATHENA_NEXT_LEVEL_STATUS.md
  PHASE1_CRITICAL_FIXES_REPORT.json
  PHASE2_REAL_SERVICES_REPORT.json
  PHASE3_PRODUCTION_HARDENING_REPORT.json
  fix-critical-p0-blockers.py
  go-services/api-gateway/shared/secrets-manager.go
  go-services/shared/secrets-manager.go
  implement-phase2-real-services.py
  implement-phase3-production-hardening.py
  nginx/athena.conf
  scripts/autoscale-athena.sh
  src/agents/cognitive/real_cognitive_agents.py
  src/middleware/security_middleware.py
  src/services/monitoring_service.py
  src/services/performance_optimizer.py
  src/services/real_dspy_service.py
  src/services/redis_service.py
  static/monitoring-dashboard.html
  tests/test_api_endpoints.py
Owners: @universal-ai-tools/core-team, @universal-ai-tools/devops-team

feat: Implement Family Athena personalization features
  FAMILY_ATHENA_COMPLETE.md
  FAMILY_ATHENA_PHASE4_REPORT.json
  implement-family-athena.py
  src/family/family_api.py
  src/family/family_calendar.py
  src/family/family_knowledge.py
  src/family/family_profiles.py
  static/family-dashboard.html
  tests/test_family_athena.py
Owners: @universal-ai-tools/core-team

feat: Complete Family Athena integration and testing
  FAMILY_ATHENA_INTEGRATION_COMPLETE.md
  FAMILY_ATHENA_INTEGRATION_REPORT.json
  FAMILY_ATHENA_PERFORMANCE_REPORT.json
  FAMILY_ATHENA_SECURITY_REPORT.json
  implement-family-integrations.py
  run_family_integration_tests.py
  src/family/athena_gateway_integration.py
  tests/test_family_e2e_integration.py
  tests/test_family_performance.py
  tests/test_family_security.py
Owners: @universal-ai-tools/core-team

feat: Implement seamless integration for Family Athena
  FAMILY_ATHENA_PERFORMANCE_REPORT.json
  FAMILY_ATHENA_SEAMLESS_INTEGRATION_COMPLETE.md
  FAMILY_ATHENA_SECURITY_REPORT.json
  family_athena_config.yaml
  implement-seamless-integration.py
  seamless_integration_runner.py
  src/family/data_synchronization.py
  src/family/health_monitoring.py
  src/family/service_mesh.py
  src/family/unified_config.py
  unified_startup.py
Owners: @universal-ai-tools/core-team

Checkpoint before follow-up message
  nodejs-api-server/package-lock.json
  rust-services/parameter-analytics-service/Cargo.lock
Owners: @universal-ai-tools/core-team, @universal-ai-tools/rust-team

feat: Implement unified platform integration
  UNIFIED_PLATFORM_INTEGRATION_COMPLETE.md
  implement-unified-platform-integration.py
  service_mesh_integration.py
  start-unified-platform.sh
  unified_api_gateway.py
  unified_data_layer.py
Owners: @universal-ai-tools/core-team

Checkpoint before follow-up message
  .env.test
  nodejs-api-server/package-lock.json
  nodejs-api-server/package.json
  nodejs-api-server/src/routers/sweet-athena.ts
  nodejs-api-server/src/server.ts
  nodejs-api-server/src/services/gitlab-integration.ts
  nodejs-api-server/src/services/governance-service.ts
  nodejs-api-server/src/services/mlx-integration.ts
  nodejs-api-server/src/services/neuroforge-integration.ts
  nodejs-api-server/src/services/ollama-integration.ts
  nodejs-api-server/src/services/republic-service.ts
Owners: @universal-ai-tools/core-team

feat: Add product manager system verification script
  product-manager-verification.py
Owners: @universal-ai-tools/core-team

feat: Add logging and startup scripts for services
  FINAL_SYSTEM_STATUS_REPORT.md
  start-services-manual.py
  start-unified-simple.sh
  test-system-working.py
  unified_api_gateway.py
Owners: @universal-ai-tools/core-team

Checkpoint before follow-up message
  nodejs-api-server/src/server.ts
  workflow-test-report.json
Owners: @universal-ai-tools/core-team

feat: Implement GitLabs integration and CI/CD pipeline
  .gitlab-ci.yml
  .gitlabs-config
  GITLABS_INTEGRATION_COMPLETE.md
  GITLABS_README.md
  gitlabs-context-enhancer.py
  gitlabs-context-report.json
  gitlabs-project-config.json
  gitlabs-webhooks.json
  setup-gitlabs-integration.py
  setup-gitlabs.sh
Owners: @universal-ai-tools/core-team

feat: Add governance router and integrate into server
  nodejs-api-server/src/routers/governance.ts
  nodejs-api-server/src/server.ts
Owners: @universal-ai-tools/core-team

feat: Implement system status and fix gateway services
  SYSTEM_OPERATIONAL_STATUS.md
  enhanced-gateway.py
  fix-gateway-services.py
  gateway-test-results.json
Owners: @universal-ai-tools/core-team

feat: Add comprehensive integration test suite
  comprehensive-integration-test.py
  integration-test-report.json
Owners: @universal-ai-tools/core-team

Checkpoint before follow-up message
  universal-ai-tools-desktop/package-lock.json
  universal-ai-tools-desktop/package.json
  universal-ai-tools-desktop/src/index.html
  universal-ai-tools-desktop/src/main.ts
  universal-ai-tools-desktop/src/preload.ts
Owners: @universal-ai-tools/core-team

Checkpoint before follow-up message
  enhanced-integration-report.json
  fix-integration-issues.py
  integration-fix-report.json
  integration-test-report.json
  start-enhanced-services.py
  start-simple-enhanced-services.py
Owners: @universal-ai-tools/core-team

Checkpoint before follow-up message
  start-simple-working-services.py
Owners: @universal-ai-tools/core-team

feat: Implement GitLab integration with mock data fallback
  GITLAB_INTEGRATION_SETUP.md
  nodejs-api-server/src/services/gitlab-integration.ts
  nodejs-api-server/test-gitlab-server.js
  nodejs-api-server/test-gitlab.js
  verify-gitlab-integration.js
Owners: @universal-ai-tools/core-team
