Repository Cmerrill1713/universal-ai-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @universal-ai-tools/core-team, @universal-ai-tools/devops-team, @universal-ai-tools/backend-team, @universal-ai-tools/rust-team, @universal-ai-tools/ios-team, @universal-ai-tools/docs-team, @universal-ai-tools/api-team, @universal-ai-tools/security-team, @universal-ai-tools/database-team

docs: Add security policy for GitHub security scanning requirements
  .github/SECURITY.md
Owners: @universal-ai-tools/devops-team

feat: Complete user preference isolation validation and testing
  USER_PREFERENCE_ISOLATION_VALIDATION_REPORT.md
  electron-frontend/test-end-to-end-isolation.mjs
  electron-frontend/test-preference-isolation.mjs
Owners: @universal-ai-tools/core-team

feat: 🚀 Add advanced GitHub features for AI-powered development
  electron-frontend/.github/ISSUE_TEMPLATE/frontend-bug-report.yml
  electron-frontend/.github/pull_request_template.md
  electron-frontend/.github/workflows/advanced-security-setup.yml
  electron-frontend/.github/workflows/ai-code-review.yml
  electron-frontend/.github/workflows/enable-discussions.yml
  electron-frontend/GITHUB_ADVANCED_FEATURES.md
  electron-frontend/renovate.json
Owners: @universal-ai-tools/core-team

fix: Move GitHub advanced features to root directory
  .github/ISSUE_TEMPLATE/frontend-bug-report.yml
  .github/pull_request_template.md
  .github/workflows/advanced-security-setup.yml
  .github/workflows/ai-code-review.yml
  .github/workflows/enable-discussions.yml
  .github/workflows/test.yml
  GITHUB_ADVANCED_FEATURES.md
  renovate.json
Owners: @universal-ai-tools/devops-team, @universal-ai-tools/core-team

fix: improve device authentication and testing
  src/routers/device-auth.ts
  tests/device-auth-api.test.ts
Owners: @universal-ai-tools/core-team

docs: complete git repository cleanup and context implementation
  .gitignore
  GIT_REPOSITORY_CLEANUP_COMPLETE.md
Owners: @universal-ai-tools/core-team

feat: Add advanced GitHub Pro features for AI-powered development workflow
  .github/ISSUE_TEMPLATE/performance-issue.yml
  .github/ISSUE_TEMPLATE/security-vulnerability.yml
  .github/workflows/advanced-security-setup.yml
  .github/workflows/ai-code-review.yml
  .github/workflows/discussions-automation.yml
Owners: @universal-ai-tools/devops-team, @universal-ai-tools/core-team

feat: implement macOS Swift frontend with comprehensive Supabase context integration
  scripts/store-conversation-context.ts
  scripts/test-context-retrieval.ts
  src/routers/context.ts
  src/server.ts
Owners: @universal-ai-tools/devops-team, @universal-ai-tools/core-team

security: Fix high-severity vulnerabilities and update workflows
  .github/workflows/ai-code-review.yml
  package-lock.json
  package.json
Owners: @universal-ai-tools/devops-team, @universal-ai-tools/core-team

fix: resolve GitHub Actions workflow failures
  src/utils/logger.ts
  ui/package.json
Owners: @universal-ai-tools/core-team

fix: resolve @amplitude/analytics-browser dependency conflict
  src/middleware/context-injection-middleware.ts
  src/middleware/global-error-handler.ts
  src/routers/assistant.ts
  src/routers/athena.ts
  src/routers/mcp-agent.ts
  src/routers/mobile-orchestration.ts
  src/routers/speech.ts
  src/server.ts
  src/services/architecture-advisor-service.ts
  src/services/athena-websocket.ts
  src/services/context-injection-service.ts
  src/services/context-storage-service.ts
  src/types/architecture.ts
  src/types/globals.d.ts
  src/types/index.ts
  ui/package.json
Owners: @universal-ai-tools/core-team

feat: Implement browser window popup for web scraping with EPIPE error fixes
  src/routers/chat.ts
  src/routers/knowledge-scraper.ts
  src/services/browser-scraping-bridge.ts
  src/services/knowledge-scraper-service.ts
Owners: @universal-ai-tools/core-team

fix: resolve ESLint errors - duplicate imports and unused variables
  src/middleware/global-error-handler.ts
  src/routers/assistant.ts
  src/routers/athena.ts
  src/routers/chat.ts
  src/routers/mcp-agent.ts
  src/routers/mobile-orchestration.ts
  src/routers/speech.ts
  src/server.ts
Owners: @universal-ai-tools/core-team

feat: add project manager tests and config constants
  src/config/constants.ts
  test-project-manager.ts
  test-project-simple.ts
Owners: @universal-ai-tools/core-team

fix: update middleware with security improvements
  src/middleware/request-security.ts
  src/middleware/request-validator.ts
  src/middleware/sql-injection-protection.ts
Owners: @universal-ai-tools/core-team

feat: add code templates and fixes migration
  supabase/migrations/20250830_code_templates_and_fixes.sql
Owners: @universal-ai-tools/core-team

fix: resolve all TypeScript compilation errors
  projects/NewTradingBot/project_index.json
  projects/NewTradingBot/requirements.txt
  projects/NewTradingBot/src/core/strategy/strategy_base.py
  projects/NewTradingBot/src/domain/order.py
  projects/NewTradingBot/src/domain/portfolio.py
  projects/NewTradingBot/src/domain/trade.py
  projects/NewTradingBot/src/schemas/order_schemas.py
  projects/NewTradingBot/src/schemas/portfolio_schemas.py
  projects/NewTradingBot/src/schemas/trade_schemas.py
  src/server.ts
  src/services/a2a-communication-mesh.ts
  src/types/index.ts
Owners: @universal-ai-tools/core-team

feat: complete Electron frontend integration
  .env.jwt
  .env.template
  archive/old-dashboards/functional_dashboard.html
  archive/old-dashboards/personal_agents_dashboard.html
  archive/old-dashboards/supabase_dashboard.html
  archive/old-servers/ai_assistant_server.js
  archive/old-servers/fixed_server_final.js
  archive/old-servers/personal_agent_router.js
  archive/old-servers/quick_fix_server.js
  archive/old-tests/server-debug.ts
  archive/old-tests/server-minimal-test.ts
  archive/old-tests/server-test-imports.ts
  electron.vite.config.ts
  projects/NewTradingBot/src/core/risk/exposure_manager.py
  projects/NewTradingBot/src/core/risk/position_sizer.py
  projects/NewTradingBot/src/core/risk/risk_calculator.py
  projects/NewTradingBot/src/core/strategy/arbitrage.py
  projects/NewTradingBot/src/core/strategy/mean_reversion.py
  projects/NewTradingBot/src/core/strategy/momentum.py
  projects/NewTradingBot/src/data/market_data.py
  scripts/setup-production.sh
  setup-vault.sql
  src/middleware/.auth-fixed
  supabase/migrations/20250830_parameter_executions.sql
Owners: @universal-ai-tools/core-team, @universal-ai-tools/devops-team

feat: Add native iOS vision features to companion app
  UniversalAICompanionPackage/Sources/UniversalAICompanionFeature/BackendIntegration.swift
  UniversalAICompanionPackage/Sources/UniversalAICompanionFeature/ContentView.swift
  UniversalAICompanionPackage/Sources/UniversalAICompanionFeature/VisionService.swift
  UniversalAICompanionPackage/Sources/UniversalAICompanionFeature/VisionView.swift
Owners: @universal-ai-tools/core-team

fix: Resolve Jest hanging issues
  jest.config.ci.js
  package.json
Owners: @universal-ai-tools/core-team

fix: upgrade @opentelemetry/auto-instrumentations-node from 0.50.2 to 0.62.1
  package-lock.json
  package.json
Owners: @universal-ai-tools/core-team

fix: upgrade @opentelemetry/instrumentation from 0.53.0 to 0.203.0
  package-lock.json
  package.json
Owners: @universal-ai-tools/core-team

fix: upgrade @opentelemetry/exporter-trace-otlp-http from 0.53.0 to 0.203.0
  package-lock.json
  package.json
Owners: @universal-ai-tools/core-team

fix: upgrade @opentelemetry/sdk-node from 0.53.0 to 0.203.0
  package-lock.json
  package.json
Owners: @universal-ai-tools/core-team

fix: upgrade @opentelemetry/exporter-metrics-otlp-http from 0.53.0 to 0.203.0
  package-lock.json
  package.json
Owners: @universal-ai-tools/core-team

fix: Resolve Jest hanging issues
  package.json
Owners: @universal-ai-tools/core-team

wip: AB-MCTS TypeScript integration improvements
  rust-services/ab-mcts-service/typescript-integration/http-bridge.ts
Owners: @universal-ai-tools/rust-team

feat: Rust service infrastructure improvements
  rust-services/ab-mcts-service/src/bin/http_server.rs
  rust-services/ab-mcts-service/src/http_server.rs
Owners: @universal-ai-tools/rust-team

feat: Docker and infrastructure improvements
  DOCKER_ARCHITECTURE.md
  RUST_GO_MIGRATION_STATUS.md
  docker-compose.rust-services.yml
Owners: @universal-ai-tools/core-team, @universal-ai-tools/devops-team

fix: Remove large build artifacts and update .gitignore
  .gitignore
Owners: @universal-ai-tools/core-team

fix: Remove electron-frontend directory and update .gitignore
  .gitignore
Owners: @universal-ai-tools/core-team

fix(security): Address critical npm vulnerabilities - reduce from 39 to 5
  package-lock.json
  package.json
Owners: @universal-ai-tools/core-team

feat(security): Enhance GitHub security features and Dependabot configuration
  .github/SECURITY.md
  .github/dependabot.yml
Owners: @universal-ai-tools/devops-team

Remove GitHub workflows to avoid permission issues
  .github/workflows/adaptive-autofix.yml
  .github/workflows/advanced-security-setup.yml
  .github/workflows/ai-code-review.yml
  .github/workflows/auto-fix.yml
  .github/workflows/branch-protection.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-security.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/discussions-automation.yml
  .github/workflows/docker-build.yml
  .github/workflows/gitleaks.yml
  .github/workflows/performance-test.yml
  .github/workflows/pre-commit-hooks.yml
  .github/workflows/qa.yml
  .github/workflows/repository-sync.yml
  .github/workflows/rust-ci.yml
  .github/workflows/security-scan.yml
  .github/workflows/sweet-athena-ci.yml
  .github/workflows/sweet-athena-integration.yml
  .github/workflows/syntax-check.yml
  .github/workflows/syntax-validation.yml
  .github/workflows/test-coverage.yml
  .github/workflows/test-puppeteer.yml
Owners: @universal-ai-tools/devops-team, @universal-ai-tools/core-team

Fix Go module dependencies
  go.mod
  go.sum
Owners: @universal-ai-tools/core-team

feat: Integrate GitHub MCP with Librarian service for embeddings and memory
  mcp-config.json
  src/mcp/github-mcp-server.ts
  src/mcp/postgres-client.ts
  src/services/github-webhook-handler.ts
Owners: @universal-ai-tools/core-team

feat: Complete GitHub MCP integration with Librarian service
  GITHUB_MCP_INTEGRATION_COMPLETE.md
  mcp-config.json
Owners: @universal-ai-tools/core-team

feat: Add Agency Swarm Local Integration
  AGENCY_SWARM_INTEGRATION_PLAN.md
  AGENT_SWARM_INTEGRATION_PLAN.md
  mcp-config.json
  src/mcp/agency-swarm-local-mcp-server.ts
  src/mcp/agent-swarm-mcp-server.ts
  src/services/agency-swarm-service/main.py
Owners: @universal-ai-tools/core-team

feat(coordinator,runner,gateway): wire knowledge via librarian, add Rust+Go runner, and update gateway
  Cargo.toml
  RUN_ASSISTANT.md
  crates/assistantd/src/main.rs
  crates/librarian-coordinator/Cargo.toml
  crates/librarian-coordinator/src/main.rs
  go-services/api-gateway/main.go
  knowledge-grounding/context/cmd/main.go
  knowledge-grounding/context/go.mod
  knowledge-grounding/gateway/cmd/main.go
  knowledge-grounding/sync/cmd/main.go
  package.json
  server/gateway.mjs
  tools/run-assistant-rust-go.sh
  tools/run-assistant.sh
Owners: @universal-ai-tools/core-team

fix: Stabilize imports + endpoint verification
  .github/workflows/verify.yml
  .pre-commit-config.yaml
  COMPLETE_ENDPOINT_STATUS_REPORT.md
  COMPREHENSIVE_INVESTIGATION_REPORT.md
  Dockerfile.python-api
  ENDPOINT_FIX_COMPLETE.md
  EXECUTIVE_SUMMARY.md
  FINAL_COMPLETE_REPORT.md
  INDEPENDENT_VERIFICATION_COMPLETE.md
  Makefile
  PYTHONPATH_SETUP_RESULTS.md
  VERIFICATION_COMPLETE.md
  api/__init__.py
  api/app.py
  api/routers/__init__.py
  api/routers/health.py
  api/routers/tasks.py
  api/routers/users.py
  docker-compose.python-api.yml
  pyproject.toml
  requirements-api.txt
  scripts/__init__.py
  scripts/check_endpoints.py
  scripts/import_smoke.py
  scripts/independent_verifier.py
  scripts/test_archive_isolation.py
  sitecustomize.py
  src/__init__.py
  src/config.py
  src/core/training/grade_record.py
  src/utils.py
Owners: @universal-ai-tools/devops-team, @universal-ai-tools/core-team

.github/CODEOWNERS:

# CODEOWNERS for Universal AI Tools
# Global rule - all files require review from core team
* @universal-ai-tools/core-team

# Architecture and deployment
/.github/ @universal-ai-tools/devops-team
/docker-compose*.yml @universal-ai-tools/devops-team
/scripts/ @universal-ai-tools/devops-team
/k8s/ @universal-ai-tools/devops-team

# Go services  
/go-api-gateway/ @universal-ai-tools/backend-team
/rust-services/go-websocket/ @universal-ai-tools/backend-team

# Rust services
/rust-services/ @universal-ai-tools/rust-team

# Swift macOS app
/macOS-App/ @universal-ai-tools/ios-team

# Documentation and API specs
/docs/ @universal-ai-tools/docs-team
/docs/openapi.yaml @universal-ai-tools/api-team

# Security and monitoring
/monitoring/ @universal-ai-tools/devops-team @universal-ai-tools/security-team
/distributed-tracing/ @universal-ai-tools/devops-team

# Database migrations and schemas
/migrations/ @universal-ai-tools/database-team
/scripts/*postgres* @universal-ai-tools/database-team
/scripts/*neo4j* @universal-ai-tools/database-team

# CI/CD and automation
/.github/workflows/ @universal-ai-tools/devops-team @universal-ai-tools/core-team

# Production configuration (requires extra security review)
/docker-compose.production.yml @universal-ai-tools/devops-team @universal-ai-tools/security-team
/.github/environments/production.yml @universal-ai-tools/devops-team @universal-ai-tools/security-team
/scripts/production-*.sh @universal-ai-tools/devops-team @universal-ai-tools/security-team
