Repository Cmerrill1713/universal-ai-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @universal-ai-tools/core-team, @universal-ai-tools/devops-team, @universal-ai-tools/backend-team, @universal-ai-tools/rust-team, @universal-ai-tools/ios-team, @universal-ai-tools/docs-team, @universal-ai-tools/api-team, @universal-ai-tools/security-team, @universal-ai-tools/database-team

.github/CODEOWNERS:

# CODEOWNERS for Universal AI Tools
# Global rule - all files require review from core team
* @universal-ai-tools/core-team

# Architecture and deployment
/.github/ @universal-ai-tools/devops-team
/docker-compose*.yml @universal-ai-tools/devops-team
/scripts/ @universal-ai-tools/devops-team
/k8s/ @universal-ai-tools/devops-team

# Go services  
/go-api-gateway/ @universal-ai-tools/backend-team
/rust-services/go-websocket/ @universal-ai-tools/backend-team

# Rust services
/rust-services/ @universal-ai-tools/rust-team

# Swift macOS app
/macOS-App/ @universal-ai-tools/ios-team

# Documentation and API specs
/docs/ @universal-ai-tools/docs-team
/docs/openapi.yaml @universal-ai-tools/api-team

# Security and monitoring
/monitoring/ @universal-ai-tools/devops-team @universal-ai-tools/security-team
/distributed-tracing/ @universal-ai-tools/devops-team

# Database migrations and schemas
/migrations/ @universal-ai-tools/database-team
/scripts/*postgres* @universal-ai-tools/database-team
/scripts/*neo4j* @universal-ai-tools/database-team

# CI/CD and automation
/.github/workflows/ @universal-ai-tools/devops-team @universal-ai-tools/core-team

# Production configuration (requires extra security review)
/docker-compose.production.yml @universal-ai-tools/devops-team @universal-ai-tools/security-team
/.github/environments/production.yml @universal-ai-tools/devops-team @universal-ai-tools/security-team
/scripts/production-*.sh @universal-ai-tools/devops-team @universal-ai-tools/security-team

feat: Add enhanced verifier v2 with import checks and OpenAPI discovery
  scripts/independent_verifier_v2.py
Owners: @universal-ai-tools/devops-team

feat: Add database health check script
  scripts/db_health.py
Owners: @universal-ai-tools/devops-team

feat: Add error handling middleware pattern
  api/app.py
  src/middleware/__init__.py
  src/middleware/error_handler.py
Owners: @universal-ai-tools/core-team

fix: Treat 422 as OK for POST requests in verifier
  scripts/independent_verifier_v2.py
Owners: @universal-ai-tools/devops-team

feat: Make container-only module checks optional in verifier
  scripts/independent_verifier_v2.py
Owners: @universal-ai-tools/devops-team

docs: Document Postgres auth fix for corrections endpoints
  issues/POSTGRES_AUTH_FIX.md
Owners: @universal-ai-tools/core-team

docs: Create comprehensive issue docs for all remaining bugs
  .pre-commit-config.yaml
  issues/ARCHIVE_LEGACY_CODE.md
  issues/CRAWLER_INPUT_VALIDATION.md
  issues/CURRENT_TIME_SHIM_FIX.md
  issues/PYTHONPATH_ALIGNMENT.md
  issues/REALTIME_VIBE_TREND_FIX.md
Owners: @universal-ai-tools/core-team

feat: Add lightweight error_sentry.py for quick 500 detection
  Makefile
  scripts/error_sentry.py
Owners: @universal-ai-tools/core-team, @universal-ai-tools/devops-team

docs: Add comprehensive merge checklist with verification steps
  MERGE_CHECKLIST.md
Owners: @universal-ai-tools/core-team

docs: Add comprehensive landing summary with full PR documentation
  LANDING_COMPLETE.md
Owners: @universal-ai-tools/core-team

feat: Add final polish - retry backoff + contract tests + 'make green'
  DEFINITION_OF_DONE.md
  FINAL_MERGE_GUIDE.md
  Makefile
  scripts/contract_chat.py
  scripts/error_sentry.py
Owners: @universal-ai-tools/core-team, @universal-ai-tools/devops-team

docs: Add comprehensive PROJECT_UNDERSTANDING.md
  PROJECT_UNDERSTANDING.md
Owners: @universal-ai-tools/core-team

docs: Add comprehensive PROJECT_COMPLETION_PLAN.md
  PROJECT_COMPLETION_PLAN.md
Owners: @universal-ai-tools/core-team

docs: Add PR description for main merge
  PR_DESCRIPTION.md
Owners: @universal-ai-tools/core-team

feat: Add performance baseline tracking + container patch guide
  CONTAINER_PATCHES_GUIDE.md
  Makefile
  scripts/perf_baseline.py
Owners: @universal-ai-tools/core-team, @universal-ai-tools/devops-team

fix: Standardize Dockerfiles with consistent PYTHONPATH
  Dockerfile
  Dockerfile.python-unified
Owners: @universal-ai-tools/core-team

test: Add comprehensive test suite foundation
  pytest.ini
  tests/__init__.py
  tests/conftest.py
  tests/test_api_health.py
  tests/test_imports.py
Owners: @universal-ai-tools/core-team

docs: Add Quick Start guide and deployment runbooks
  docs/QUICK_START.md
  docs/runbooks/deployment.md
  docs/runbooks/troubleshooting.md
Owners: @universal-ai-tools/docs-team

feat: Add K8s deployment configs and security baseline
  k8s/production/00-namespace.yaml
  k8s/production/01-configmap.yaml
  k8s/production/02-secrets.yaml
  k8s/production/10-python-api-deployment.yaml
  k8s/production/20-ingress.yaml
  security/SECURITY_BASELINE.md
  security/rate-limit.yaml
Owners: @universal-ai-tools/devops-team, @universal-ai-tools/core-team

docs: Add v1.0.0 release notes and CHANGELOG
  CHANGELOG.md
  RELEASE_v1.0.0.md
Owners: @universal-ai-tools/core-team

docs: Add PROJECT_COMPLETE_v1.0.0.md - Mission accomplished
  PROJECT_COMPLETE_v1.0.0.md
Owners: @universal-ai-tools/core-team

xcodegen: add workspace-style project + UITest target; add UI tests; Makefile BASE=8014; cargo exclude bmad-workflow; scoped ruff fix
  Cargo.toml
  Makefile
  NeuroForgeApp/NeuroForgeApp.xcodeproj/project.pbxproj
  NeuroForgeApp/NeuroForgeApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  NeuroForgeApp/NeuroForgeApp.xcodeproj/xcshareddata/xcschemes/NeuroForgeApp.xcscheme
  NeuroForgeApp/UITests/BootAndHealthTests.swift
  NeuroForgeApp/UITests/ChatBehaviorTests.swift
  NeuroForgeApp/UITests/RAGTests.swift
  NeuroForgeApp/project.yml
  src/api/api_server.py
  src/api/automation_routes.py
  src/api/evolution_approval_routes.py
  src/api/orchestration_routes.py
  src/api/speech_routes.py
  src/api/tool_calling_agent.py
  src/api/tts_proxy_routes.py
  src/config.py
  src/core/automation/__init__.py
  src/core/automation/browser_control.py
  src/core/automation/macos_control.py
  src/core/autonomous_evolution/login_notifier.py
  src/core/autonomous_evolution/nightly_analyzer.py
  src/core/chat/chat_optimizer.py
  src/core/chat/conversation_storage.py
  src/core/chat/prompt_engineer.py
  src/core/training/grade_record.py
  src/middleware/error_handler.py
  src/middleware/metrics.py
  src/utils.py
Owners: @universal-ai-tools/core-team

feat(e2e): backend fan-out probe + QA frontend UI + XCUITest
  NeuroForgeApp/BULLETPROOF_TEXT_VISIBILITY.md
  NeuroForgeApp/FINAL_SYSTEM_READY.md
  NeuroForgeApp/Sources/NeuroForgeApp/Components/ChatComposer.swift
  NeuroForgeApp/Sources/NeuroForgeApp/Components/KeyCatchingTextEditor.swift
  NeuroForgeApp/Sources/NeuroForgeApp/Features/QABackendProbeView.swift
  NeuroForgeApp/Sources/NeuroForgeApp/Features/SimpleChatView.swift
  NeuroForgeApp/Sources/NeuroForgeApp/main.swift
  NeuroForgeApp/Tests/AppUITests/BackendProbeFromFrontendTests.swift
  NeuroForgeApp/artifacts/probe-sample.json
  NeuroForgeApp/artifacts/ui-tests-matrix.txt
  NeuroForgeApp/launch-athena.sh
  src/api/api_server.py
  src/api/e2e_probe.py
Owners: @universal-ai-tools/core-team

feat(routing): TRM-driven capability router + model selector
  .autoheal.yml
  Makefile
  NeuroForgeApp/artifacts/AUTOHEAL_RESULTS_MATRIX.md
  NeuroForgeApp/artifacts/AUTONOMOUS_AGENT_VALIDATION.md
  NeuroForgeApp/artifacts/AUTONOMOUS_LEARNING_COMPLETE.md
  NeuroForgeApp/artifacts/DYNAMIC_ROUTER_COMPLETE.md
  NeuroForgeApp/artifacts/TRM_ROUTER_COMPLETE.md
  NeuroForgeApp/artifacts/health-matrix.txt
  NeuroForgeApp/artifacts/probe-sample.json
  NeuroForgeApp/artifacts/probe-validation.json
  NeuroForgeApp/artifacts/ui-tests-matrix.txt
  NeuroForgeApp/artifacts/weaviate-aggregate.json
  NeuroForgeApp/artifacts/weaviate-schema.json
  artifacts/auto-heal-summary.txt
  artifacts/autoheal-metrics.json
  scripts/auto_heal.py
  src/api/dynamic_routing.py
  src/api/trm_router.py
  src/core/routing/model_selector.py
  src/core/routing/router_prompt.txt
Owners: @universal-ai-tools/core-team, @universal-ai-tools/devops-team

chore: add .gitignore and .gitattributes with LFS for models
  .gitattributes
  .gitignore
Owners: @universal-ai-tools/core-team

chore: exclude large build artifacts and patches
  .gitignore
Owners: @universal-ai-tools/core-team

docs: Update README with comprehensive project documentation
  README.md
Owners: @universal-ai-tools/core-team

security: Fix 62 vulnerabilities across all ecosystems
  go.mod
  go.sum
  package-lock.json
  package.json
  requirements-api.txt
  requirements.txt
Owners: @universal-ai-tools/core-team

chore: Remove @supabase/supabase-js dependency
  package-lock.json
  package.json
Owners: @universal-ai-tools/core-team

feat: Migrate Supabase data schemas to Weaviate
  docker-compose.integrated-grounding.yml
  docker-compose.ollama.yml
  docker-compose.production.yml
  docker-compose.supabase-full.yml
  installer/payload/Applications/Universal AI Tools.app/Contents/Resources/supabase_dashboard.html
  installer/payload/Users/Shared/Universal AI Tools/supabase_dashboard.html
  k8s/namespace.yaml
  package.json
  scripts/check-supabase-extensions.ts
  scripts/migrate_supabase_to_weaviate.py
  scripts/supabase-dev-workflow.mjs
  scripts/supabase-studio-ai-helper.js
  weaviate/schemas/ai_agent_schema.json
  webpack.config.prod.js
Owners: @universal-ai-tools/devops-team, @universal-ai-tools/security-team, @universal-ai-tools/core-team

docs: Add comprehensive system audit report
  COMPREHENSIVE_AUDIT_REPORT.md
Owners: @universal-ai-tools/core-team

feat: Add password rotation script and final A+ hardening
  scripts/rotate_passwords.sh
Owners: @universal-ai-tools/devops-team

feat: Local-only mode hardening - production-boring security
  .npm-cache/_cacache/content-v2/sha512/e6/c0/3332f3495da0fbf307f677b17bc1ad88307fbf650f440225cd0b9a00637016d168ddbc389b41bdaef5dc82b38c1c694bb380821a23cf938a2a6adccc361b
  .npm-cache/_cacache/index-v5/81/e7/d9e3a621cd85ad2be67c143bfc4a0ed59a7385d7b846687982bdd9628705
  .npm-cache/_logs/2025-10-12T00_00_17_260Z-eresolve-report.txt
  .npm-cache/_update-notifier-last-checked
  Makefile
  docs/local_mode_checklist.md
  scripts/setup_local_mode.sh
  src/core/security/network_guardrail.py
Owners: @universal-ai-tools/core-team, @universal-ai-tools/docs-team, @universal-ai-tools/devops-team

security: Bind all Docker ports to localhost (127.0.0.1)
  docker-compose.athena-clean.yml.bak
  docker-compose.athena.yml.bak
  docker-compose.dev.yml.bak
  docker-compose.go-rust.yml.bak
  docker-compose.grounding.yml.bak
  docker-compose.knowledge-grounding.yml.bak
  docker-compose.override.yml.bak
  docker-compose.python-api.yml.bak
  docker-compose.test.yml.bak
  docker-compose.unified.yml.bak
  docker-compose.yml.bak
Owners: @universal-ai-tools/core-team

security: Complete localhost-only lockdown + CI guardrails
  .github/workflows/quality-gate.yml
  docker-compose.athena-clean.yml.bak
  docker-compose.athena.yml.bak
  docker-compose.dev.yml.bak
  docker-compose.go-rust.yml.bak
  docker-compose.grounding.yml.bak
  docker-compose.knowledge-grounding.yml.bak
  docker-compose.override.yml.bak
  docker-compose.python-api.yml.bak
  docker-compose.test.yml.bak
  docker-compose.unified.yml.bak
  docker-compose.yml.bak
Owners: @universal-ai-tools/devops-team, @universal-ai-tools/core-team

docs: Add complete adaptive system analysis and victory summary
  ADAPTIVE_SYSTEM_MAP.md
  VICTORY_SUMMARY.md
Owners: @universal-ai-tools/core-team

feat: Add monitoring, metrics & durability for TRM evolution
  Makefile
  dashboards/trm_evolution_overview.json
  db/migrations/20251012_routing_outcomes.sql
  monitoring/alerts/trm.rules.yml
  monitoring/prometheus/scrape_configs/trm_router.yml
  scripts/learn/approve_and_promote.sh
  scripts/monitoring/import_grafana_dashboard.sh
  sql/routing_outcomes_indexes.sql
  sql/routing_outcomes_table.sql
  src/api/metrics_endpoint.py
  src/core/metrics/prometheus_metrics.py
Owners: @universal-ai-tools/core-team, @universal-ai-tools/devops-team, @universal-ai-tools/security-team

Refactor: Update dependencies and Jest config
  .eslintrc.cjs
  nodejs-api-server/jest.config.js
  nodejs-api-server/src/__tests__/server.test.ts
  package-lock.json
  package.json
  rust-services/ab-mcts-service/Cargo.toml
  rust-services/ab-mcts-service/src/bin/http_server.rs
  rust-services/ab-mcts-service/src/lib.rs
  rust-services/agent-coordination-service/Cargo.toml
Owners: @universal-ai-tools/core-team, @universal-ai-tools/rust-team

feat: Add HTTP server and dependencies
  rust-services/intelligent-parameter-service/Cargo.toml
  rust-services/intelligent-parameter-service/src/bin/http_server.rs
  rust-services/intelligent-parameter-service/src/lib.rs
Owners: @universal-ai-tools/rust-team

feat: Implement integrated chat service with UAT-Prompt and Neuroforge
  CHAT_INTEGRATION_README.md
  nodejs-api-server/package.json
  nodejs-api-server/src/routers/chat.ts
  nodejs-api-server/src/server.ts
  nodejs-api-server/src/services/chat-service.ts
  nodejs-api-server/src/services/neuroforge-integration.ts
  nodejs-api-server/src/services/uat-prompt-engine.ts
  scripts/test-chat-integration.ts
  supabase/migrations/20250127000000_chat_messages_table.sql
Owners: @universal-ai-tools/core-team, @universal-ai-tools/devops-team
