Repository Cmerrill1713/universal-ai-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @universal-ai-tools/core-team, @universal-ai-tools/devops-team, @universal-ai-tools/backend-team, @universal-ai-tools/rust-team, @universal-ai-tools/ios-team, @universal-ai-tools/docs-team, @universal-ai-tools/api-team, @universal-ai-tools/security-team, @universal-ai-tools/database-team

.github/CODEOWNERS:

# CODEOWNERS for Universal AI Tools
# Global rule - all files require review from core team
* @universal-ai-tools/core-team

# Architecture and deployment
/.github/ @universal-ai-tools/devops-team
/docker-compose*.yml @universal-ai-tools/devops-team
/scripts/ @universal-ai-tools/devops-team
/k8s/ @universal-ai-tools/devops-team

# Go services  
/go-api-gateway/ @universal-ai-tools/backend-team
/rust-services/go-websocket/ @universal-ai-tools/backend-team

# Rust services
/rust-services/ @universal-ai-tools/rust-team

# Swift macOS app
/macOS-App/ @universal-ai-tools/ios-team

# Documentation and API specs
/docs/ @universal-ai-tools/docs-team
/docs/openapi.yaml @universal-ai-tools/api-team

# Security and monitoring
/monitoring/ @universal-ai-tools/devops-team @universal-ai-tools/security-team
/distributed-tracing/ @universal-ai-tools/devops-team

# Database migrations and schemas
/migrations/ @universal-ai-tools/database-team
/scripts/*postgres* @universal-ai-tools/database-team
/scripts/*neo4j* @universal-ai-tools/database-team

# CI/CD and automation
/.github/workflows/ @universal-ai-tools/devops-team @universal-ai-tools/core-team

# Production configuration (requires extra security review)
/docker-compose.production.yml @universal-ai-tools/devops-team @universal-ai-tools/security-team
/.github/environments/production.yml @universal-ai-tools/devops-team @universal-ai-tools/security-team
/scripts/production-*.sh @universal-ai-tools/devops-team @universal-ai-tools/security-team

Checkpoint before follow-up message
  GITLAB_INTEGRATION_STATUS_REPORT.md
  nodejs-api-server/src/routers/gitlab.ts
  nodejs-api-server/src/services/gitlab-integration.ts
  nodejs-api-server/test-gitlab-standalone.js
  test-gitlab-integration.js
Owners: @universal-ai-tools/core-team

feat: Add PracticalAthena demo script
  PRACTICAL_ATHENA_DEMO.py
Owners: @universal-ai-tools/core-team

Checkpoint before follow-up message
  auto-maintenance-system.py
  dependency-manager.py
  dependency-status.json
  health-report.json
  logs/adaptive-fixer.pid
  logs/advanced-healing.pid
  logs/error-monitor.pid
  logs/model-optimizer.pid
  logs/predictive-healing.pid
  logs/syntax-guardian.pid
  logs/vision-debugger.pid
  models/agents/__pycache__/lfm2_integration.cpython-313.pyc
  pids/api-gateway.pid
  python-services/__pycache__/pyvision_bridge.cpython-313.pyc
  python-services/__pycache__/vision-service.cpython-313.pyc
  python-services/mlx-fastvlm-service/__pycache__/server.cpython-313.pyc
  system-health-monitor.py
  unified-workflow-manager.py
  workflow-report.json
Owners: @universal-ai-tools/core-team

feat: Implement GitLab webhook handling and security
  GITLAB_WEBHOOK_IMPLEMENTATION_COMPLETE.md
  GITLAB_WEBHOOK_SETUP.md
  nodejs-api-server/src/routers/gitlab.ts
  nodejs-api-server/src/services/gitlab-integration.ts
  test-gitlab-webhooks.js
Owners: @universal-ai-tools/core-team

feat: Add GitLab webhook analytics and monitoring
  GITLAB_WEBHOOK_ENHANCEMENTS_COMPLETE.md
  nodejs-api-server/src/routers/gitlab.ts
  nodejs-api-server/src/services/gitlab-integration.ts
  nodejs-api-server/src/services/webhook-optimizer.ts
  webhook-monitoring-dashboard.html
Owners: @universal-ai-tools/core-team

feat: Implement robust workflows and system monitoring
  ROBUST_WORKFLOWS_COMPLETE.md
  athena.pid
  dependency-status.json
  family.pid
  health-monitor.pid
  health-report.json
  maintenance.pid
  start-robust-workflows.sh
  stop-robust-workflows.sh
  universal.pid
  workflow-report.json
Owners: @universal-ai-tools/core-team

Checkpoint before follow-up message
  GITHUB_ISSUES_FIX_PLAN.md
  api/app.py
  api/utils/database.py
  api/utils/validation.py
  docker-compose-fixed.yml
Owners: @universal-ai-tools/core-team, @universal-ai-tools/devops-team

feat: Add comprehensive health checks and validation tests
  GITHUB_ISSUES_FIXES_COMPLETE.md
  api/routers/health.py
  test-github-issues-fixes.py
Owners: @universal-ai-tools/core-team

feat: Add codebase and GitLab integration evaluation report
  CODEBASE_AND_GITLAB_EVALUATION_REPORT.md
Owners: @universal-ai-tools/core-team

Checkpoint before follow-up message
  athena.pid
  family.pid
  health-monitor.pid
  health-report.json
  maintenance.pid
  universal.pid
Owners: @universal-ai-tools/core-team

feat: Add system connection analysis documentation
  SYSTEM_CONNECTION_ANALYSIS.md
Owners: @universal-ai-tools/core-team

Update health report and add governance analysis
  SELF_LEARNING_GOVERNANCE_ANALYSIS.md
  health-report.json
Owners: @universal-ai-tools/core-team

Checkpoint before follow-up message
  health-report.json
Owners: @universal-ai-tools/core-team

feat: Add test report for broken tests
  break-test-report.json
  break-test-suite.py
Owners: @universal-ai-tools/core-team

Checkpoint before follow-up message
  health-report.json
Owners: @universal-ai-tools/core-team

feat: Add DSPy service and update Rust/Go services
  PYTHON_ELIMINATION_COMPLETE.md
  build-rust-services.sh
  go-services/api-gateway/main.go
  rust-services/dspy-orchestrator/Cargo.toml
  rust-services/dspy-orchestrator/src/bin/server.rs
  rust-services/dspy-orchestrator/src/lib.rs
  rust-services/mlx-service/Cargo.toml
  rust-services/mlx-service/src/bin/server.rs
  rust-services/mlx-service/src/lib.rs
  rust-services/vision-service/Cargo.toml
  rust-services/vision-service/src/bin/server.rs
  rust-services/vision-service/src/lib.rs
  start-rust-services.sh
  stop-rust-services.sh
Owners: @universal-ai-tools/core-team, @universal-ai-tools/rust-team

feat: Add system tests and update dependencies
  go-services/chat-service/go.mod
  go-services/chat-service/go.sum
  health-report.json
  real-go-system-test-report.json
  real-system-test-report.json
  test-real-go-system.py
  test-real-system.py
Owners: @universal-ai-tools/core-team

Checkpoint before follow-up message
  Cargo.lock
  Cargo.toml
  build-rust-services.sh
  rust-services/dspy-orchestrator/src/lib.rs
  rust-services/dspy-rust-service/Cargo.toml
  rust-services/dspy-rust-service/src/bin/server.rs
  rust-services/dspy-rust-service/src/lib.rs
  rust-services/mlx-rust-service/Cargo.toml
  rust-services/mlx-rust-service/src/bin/server.rs
  rust-services/mlx-rust-service/src/lib.rs
  rust-services/vision-rust-service/Cargo.toml
  rust-services/vision-rust-service/src/bin/server.rs
  rust-services/vision-rust-service/src/lib.rs
  rust-services/vision-service/src/lib.rs
  start-rust-services.sh
Owners: @universal-ai-tools/core-team, @universal-ai-tools/rust-team

Checkpoint before follow-up message
  health-report.json
Owners: @universal-ai-tools/core-team

feat: Add comprehensive system test suite
  comprehensive-real-system-test-report.json
  comprehensive-real-system-test.py
  health-report.json
Owners: @universal-ai-tools/core-team

Checkpoint before follow-up message
  build-modern-rust-services.sh
  proto/dspy_service.proto
  proto/mlx_service.proto
  proto/vision_service.proto
  rust-services/dspy-rust-service/Cargo.toml
  rust-services/dspy-rust-service/build.rs
  rust-services/dspy-rust-service/config/default.toml
  rust-services/mlx-rust-service/Cargo.toml
  rust-services/mlx-rust-service/build.rs
  rust-services/mlx-rust-service/config/default.toml
  rust-services/mlx-rust-service/src/bin/server.rs
  rust-services/mlx-rust-service/src/config.rs
  rust-services/mlx-rust-service/src/error.rs
  rust-services/mlx-rust-service/src/grpc.rs
  rust-services/mlx-rust-service/src/lib.rs
Owners: @universal-ai-tools/core-team, @universal-ai-tools/rust-team

Checkpoint before follow-up message
  rust-services/dspy-rust-service/src/config.rs
  rust-services/dspy-rust-service/src/error.rs
  rust-services/dspy-rust-service/src/grpc.rs
  rust-services/dspy-rust-service/src/lib.rs
  rust-services/vision-rust-service/Cargo.toml
  rust-services/vision-rust-service/build.rs
  rust-services/vision-rust-service/config/default.toml
  start-modern-rust-services.sh
  stop-modern-rust-services.sh
Owners: @universal-ai-tools/rust-team, @universal-ai-tools/core-team

feat: Complete modern Rust implementation
  MODERN_RUST_IMPLEMENTATION_COMPLETE.md
Owners: @universal-ai-tools/core-team

feat: Add context preservation documentation and scripts
  CONTEXT_PRESERVATION_CHECKLIST.md
  DAILY_CONTEXT_WORKFLOW.md
  ECOSYSTEM_ARCHITECTURE_MAP.md
  FULL_ECOSYSTEM_INTEGRATION_PLAN.md
  scripts/context-preservation.sh
Owners: @universal-ai-tools/core-team, @universal-ai-tools/devops-team
